.quiz {
	padding: 60px 0px;
}
.quiz-block {
	padding: 40px 100px;
	background-color: $color-bg;
	border-radius: 4px;
	@media (max-width: 992px) {
		padding: 30px 20px;
	}
	@media (max-width: 768px) {
		padding: 30px 20px 10px 20px;
	}
	@media (max-width: 576px) {
		padding: 20px 10px 10px 10px;
	}
	&_text {
		@media (max-width: 768px) {
			padding: 30px 20px;
		}
		@media (max-width: 576px) {
			padding: 20px 10px;
		}

	}
	&__text {
		display: inline-block;
		width: 100%;
		margin-top: 20px;
		padding-bottom: 10px;
		color: $color-light-text;
		border-bottom: solid 1px $color-light-text;
		@media (max-width: 992px) {
			font-size: 14px;
		}
		@media (max-width: 768px) {
			text-align: center;
		}
	}
	&__title {
		@media (max-width: 768px) {
			text-align: center;
		}
		@media (max-width: 576px) {
			font-size: 25px;
		}
	}

	&__subtitle {
		margin-top: 20px;
		@media (max-width: 768px) {
			font-size: 23px;
			text-align: center;
		}
		@media (max-width: 576px) {
			font-size: 18px;
		}
	}

	&__wrapper {
		padding-bottom: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 35px -35px 0 -35px;
		@media (max-width: 577px) {
			margin: 35px 0px 0px 0px;
		}
	}

	&__item {
		margin: 0px 35px 20px 35px;
		width: 280px;
		@media (max-width: 577px) {
			margin: 0px 0px 20px 0px;
		}
	}

	&__img {
		width: 100%;
		height: 120px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

	}

	&__footer {
		padding-top: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: solid 1px $color-light-text;
		@media (max-width: 768px) {
			flex-wrap: wrap;
		}
		@media (max-width: 576px) {
			flex-direction: column;
			justify-content: center;
		}
	}

	&__number {
		font-weight: 400;
		font-size: 16px;
		color: $color-light-text;
	}

	&__btn {
		padding: 17px 42px;
		font-weight: 400;
		font-size: 16px;
		color: $color-text;
		border: solid 1px $color-dark-text;
		border-radius: 4px;
		transition: all 0.3s ease 0s;
		@media (hover: hover) and (pointer: fine) {
			&:hover {
				color: $color-white;
				background-color: $color-text;
			}
		}
		@media (max-width: 576px) {
			margin-top: 10px;
		}
	}
	&__message{
		opacity: 0;
		visibility: hidden;
		font-weight: 400;
		font-size: 16px;
		color: $color-accent;
		transition: all 0.3s ease 0s;
		&.active {
			opacity: 1;
			visibility: visible;
		}
		@media (max-width: 768px) {
			flex: 1 1 100%;
			order: 3;
			margin-top: 10px;
		}
		@media (max-width: 576px) {
			text-align: center;
		}
	}
	&__checkboxes {
		margin-top: 30px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		@media (max-width: 768px) {
			flex-wrap: wrap;
		}
	}
	&__image {
		margin-top: 22px;
		position: relative;
		padding: 0px 0px 28% 0px;
		margin-bottom: 20px;
		img {
			object-fit: cover;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	&__comment {
		margin: 20px 0px 122px 0px;
		width: 465px;
		height: 246px;
		border: none;
		border-radius: 4px;
		padding: 20px;
		font-weight: 400;
		font-size: 16px;
		color: $color-text;
		background-color: $color-white;
		&::placeholder {
			color: $color-cameo;
		}
		@media (max-width: 768px) {
			display: block;
			width: 430px;
			margin: 20px auto 112px auto;
		}
		@media (max-width: 577px) {
			width: 100%;
			margin: 20px auto 60px auto;
		}
	}

	.custom-checkbox {
		position: relative;
		margin-right: 70px;
		&:last-child {
			margin-right: 0;
		}
		@media (max-width: 1200px) {
			margin-right: 50px;
		}
		@media (max-width: 992px) {
			margin-right: 35px;
		}
		@media (max-width: 768px) {
			margin-right: 30px;
		}
		&__input {
			display: none;
		}

		&__text {
			margin-top: 10px;
			position: relative;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			justify-content: start;
			&::before {
				content:'';
				width: 24px;
				height: 24px;
				border: 1px solid $color-cameo;
				border-radius: 4px;
				margin-right: 10px;
			}
			&::after {
				content:'';
				position: absolute;
				top: 7px;
				left: 6px;
				width: 15px;
				height: 12px;
				background-image: url('../img/check.svg');
				background-repeat: no-repeat;
				background-size: cover;
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
			}
		}
		&.error {
			.custom-checkbox__text {
				&::before {
					content:'';
					border: 1px solid $color-accent;
				}
			}
		}
	}

	.custom-checkbox__input:checked + .custom-checkbox__text::after {
		opacity: 1;
	}

}
.quiz-fin {
	padding: 80px 100px 57px 100px;
	&__title {
		font-weight: 700;
		font-size: 30px;
		@media (max-width: 768px) {
			text-align: center;
		}
		@media (max-width: 576px) {
			font-size: 25px;
		}
	}
	&__text {
		display: inline-block;
		width: 100%;
		margin-top: 20px;
		padding-bottom: 24px;
		font-size: 18px;
		color: $color-cameo;
		border-bottom: solid 1px  $color-cameo;
		@media (max-width: 992px) {
			font-size: 16px;
		}
		@media (max-width: 768px) {
			text-align: center;
		}
		@media (max-width: 576px) {
			font-size: 14px;
		}
	}

	.quiz-send {
		position: relative;
		margin-top: 24px;
		padding: 40px;
		background-color: $color-cameo;
		border-radius: 4px;
		width: 65%;
		@media (max-width: 992px) {
			width: 70%;
		}
		@media (max-width: 768px) {
			width: 100%;
		}
		@media (max-width: 576px) {
			padding: 20px 10px;
		}
		&__title {
			font-weight: 700;
			font-size: 36px;
			color: $color-white;
			@media (max-width: 768px) {
				text-align: center;
			}
			@media (max-width: 576px) {
				font-size: 25px;
			}
		}
		&__descr {
			display: inline-block;
			margin-top: 15px;
			font-weight: 400;
			font-size: 18px;
			color: $color-white;
			margin-bottom: 14px;
			@media (max-width: 768px) {
				text-align: center;
			}
			@media (max-width: 576px) {
				font-size: 14px;
			}
		}
		&__input {
			display: block;
			margin-top: 10px;
			padding: 20px;
			background-color: $color-white;
			border: none;
			width: 90%;
			border-radius: 4px;
			font-weight: 400;
			font-size: 16px;
			color: $color-text;
			&::placeholder {
				color: $color-gray;
			}
			@media (max-width: 768px) {
				width: 100%;
			}
		}
	
		&__btn {
			display: inline-block;
			margin-top: 20px;
			min-width: 220px;
			@media (max-width: 768px) {
				display: block;
				margin: 20px auto 0px auto;
			}
		}
		.quiz-block__message {
			margin-top: 10px;
		}
	
		&__phone {
			position: absolute;
			top: -13px;
			right: -184px;
			width: 205px;
			height: 411px;
			background: url('../img/iPhone.webp') center center/cover no-repeat;
			@media (max-width: 1200px) {
				top: 50%;
				transform: translateY(-50%);
			}
			@media (max-width: 768px) {
				display: none;
			}
		}
	
		&__ok {
			position: absolute;
			top: -2px;
			right: 14px;
			width: 86%;
			height: 100%;
			background: url('../img/ok.webp') center center/contain no-repeat;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
			&.active {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.no-webp {
	.quiz-form__phone {
		background: url('../img/iPhone.png') center center/cover no-repeat;
	}
	&__ok {
		background: url('../img/ok.png') center center/cover no-repeat;
	}
}