.fade {
	animation-name: fade;
	animation-duration: 6s;
	animation-timing-function: cubic-bezier(0, 3.0, 3.0, 0);
}
  
@keyframes fade{
	from {opacity: 0}
	10% {opacity: 1}
	50% {opacity: 1}
	90% {opacity: 1}
	to {opacity: 0}
}

.fadescale {
	animation-name: fadeScale;
	animation-duration: 1s;
}
  
@keyframes fadeScale{
	from {transform:scale(0)}
	to {transform:scale(1)}
}