* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Intro', sans-serif;
    color: #000;
    background-color: $color-white;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: $color-text;
    &.scroll-lock {
        position: fixed;
        right: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
    }
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
    font-weight: inherit;
	font-size: inherit;
}

ul, ol, li {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    outline: none;
    &.error {
        border: solid 1px $color-accent;
    }
}

input {
    line-height: normal;
}

textarea {
	resize: none;
}

// Remove Arrows from input

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

a:focus,
button:focus,
select:focus,
input:focus  {
    outline: 2px solid $color-dark-accent;
    outline-offset: 1px;
}