$main-color: #484283;
$color-white: #fff;
$color-accent: #f14f4f;
$color-dark-accent: #cc4949;
$color-bg: #fff4ee;
$color-text: #444B58;
$color-dark-text: #31343C;
$color-light-text: #808080;
$color-gray: #b2b5bb;
$color-cameo: #dbbba9;
$bg: #f3f7f6;
